@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Orenes Challenge Client App</h1>    
</div>
<div>
    <ul>
        <li>
            @Html.ActionLink("Vehicles", "Index", "Vehicles", null)
        </li>
        <li>
            @Html.ActionLink("Orders", "Index", "Orders", null)
        </li>
    </ul>    
</div>


